*.csproj
*.sln
*.vs
.vscode
Library
ResTemp
Temp
obj
raid.code-workspace
raid.userprefs

*.idea
*.csproj
*.sln
*.vs
*.log
.vscode
Build
Builds
Library
ResTemp
Temp
obj
.vsconfig
Logs
UserSettings
Build
Builds
